<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css">

    <title>Stock Redd</title>


</head>

<body>
    <div class="container">
        <!-- Main Content -->
        <div class="searchDiv">

            <div class="card text-center">
                <div class="card-body">
                    <img src="../static/icons/wsb.png" width="48px" />
                    <div id="title">
                        Check what reddit thinks
                    </div>

                    <form action="/searchredd" method="POST">
                        <input type="text" class="form-control" id="subr" name="subr" placeholder="Enter subreddit name or all " required>
                        <input type="text" class="form-control" id="query" name="query" placeholder="Enter stock name" required>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div id="formFooter" class="card-footer text-muted">
                    Developed by <a href="https://khandelwalsumit.in">Sumit Khandelwal</a>
                </div>
            </div>

            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>




        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>